.chatItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px solid var(--border-grey-color);
  transition: all 0.3s ease;
  cursor: pointer;
}
.chatItem:hover {
  background-color: #f9f9f9;
}
.chatItem__block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chatItem__title {
  color: var(--accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chatItem__msg,
.chatItem__date {
  color: #c3c3c3;
  font-size: 14px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  width: 400px;
}
